.section {
  display: flex;
  width: 100vw;
  height: 565px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.container {
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.title {
  font-size: 45px;
  color: #5271ff;
}

.divCards {
  color: #003070;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 357px;
  height: 268px;
}

.card div {
  width: 115px;
  margin-bottom: -30px;
}

.card img {
  width: 115px;
  animation-name: ani-float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ani-float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.card h2 {
  font-size: 37px;
  margin: 0;
}

.card p {
  font-size: 30px;
  margin: 0;
}

@media (max-width: 1730px) {
  .section {
    height: 508.5px;
    margin-bottom: 90px;
  }

  .container {
    width: 1730px;
    gap: 54px;
  }
  .title {
    font-size: 40.5px;
  }

  .card {
    width: 321.3px;
    height: 241.2px;
  }

  .card div {
    width: 103.5px;
    margin-bottom: -27px;
  }

  .card img {
    width: 103.5px;
  }

  .card h2 {
    font-size: 33.3px;
  }

  .card p {
    font-size: 27px;
  }
}

@media (max-width: 1450px) {
  .section {
    height: 457.65px;
    margin-bottom: 81px;
  }

  .container {
    width: 1450px;
    gap: 48.6px;
  }
  .title {
    font-size: 36.45px;
  }

  .card {
    width: 289.17px;
    height: 217.08px;
  }

  .card div {
    width: 93.15px;
    margin-bottom: -24.3px;
  }

  .card img {
    width: 93.15px;
  }

  .card h2 {
    font-size: 29.97px;
  }

  .card p {
    font-size: 24.3px;
  }
}

@media (max-width: 1300px) {
  .section {
    height: 407.3px;
    margin-bottom: 72.09px;
  }

  .container {
    width: 1300px;
    gap: 43.25px;
  }
  .title {
    font-size: 32.44px;
  }

  .card {
    width: 257.36px;
    height: 193.2px;
  }

  .card div {
    width: 82.9px;
    margin-bottom: -21.62px;
  }

  .card img {
    width: 82.9px;
  }

  .card h2 {
    font-size: 26.67px;
  }

  .card p {
    font-size: 21.62px;
  }
}

@media (max-width: 1150px) {
  .section {
    height: 362.49px;
    margin-bottom: 64.16px;
  }

  .container {
    width: 1150px;
    gap: 38.49px;
  }
  .title {
    font-size: 28.87px;
  }

  .card {
    width: 229.05px;
    height: 171.94px;
  }

  .card div {
    width: 73.78px;
    margin-bottom: -19.24px;
  }

  .card img {
    width: 73.78px;
  }

  .card h2 {
    font-size: 23.73px;
  }

  .card p {
    font-size: 19.24px;
  }
}

@media (max-width: 1030px) {
  .section {
    height: 322.62px;
    margin-bottom: 57.1px;
  }

  .container {
    width: 1030px;
    gap: 34.25px;
  }
  .title {
    font-size: 25.69px;
  }

  .card {
    width: 203.85px;
    height: 153.03px;
  }

  .card div {
    width: 65.66px;
    margin-bottom: -17.12px;
  }

  .card img {
    width: 65.66px;
  }

  .card h2 {
    font-size: 21.12px;
  }

  .card p {
    font-size: 17.12px;
  }
}

@media (max-width: 1000px) {
  .section {
    height: 800px;
    margin-bottom: 57.1px;
    align-items: flex-start;
  }

  .title {
    font-size: 40px;
  }

  .container {
    width: 800px;
    gap: 34.25px;
  }

  .divCards {
    flex-wrap: wrap;
    gap: 150px;
  }

  .card {
    width: 300px;
    height: 153.03px;
  }

  .card div {
    width: 97px;
    margin-bottom: -25px;
  }

  .card img {
    width: 97px;
  }

  .card h2 {
    font-size: 31px;
  }

  .card p {
    font-size: 25px;
  }
}

@media (max-width: 650px) {
  .section {
    height: 1444px;
    margin-bottom: 200px;
  }

  .container {
    width: 500px;
    gap: 34.25px;
  }

  .title {
    font-size: 37px;
    margin-left: 20px;
  }

  .divCards {
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: 153.03px;
  }

  .card div {
    width: 97px;
    margin-bottom: -25px;
  }

  .card img {
    width: 97px;
  }

  .card h2 {
    font-size: 31px;
  }

  .card p {
    font-size: 25px;
  }
}

@media (max-width: 350px) {
  .section {
    height: auto;
    margin-bottom: 200px;
  }

  .container {
    width: 350px;
    gap: 34.25px;
  }

  .title {
    font-size: 20px;
    margin-left: 20px;
  }

  .divCards {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }

  .card {
    width: 200px;
    height: 200px;
  }

  .card div {
    width: 65px;
    margin-bottom: -17px;
  }

  .card img {
    width: 65px;
  }

  .card h2 {
    font-size: 21px;
  }

  .card p {
    font-size: 17px;
  }
}
