.section {
  border-top: 1px solid #1d477e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 100vw;
  background-color: #003070;
  color: #ffffff;
}

.container {
  width: 1920px;
  display: flex;
  align-items: center;
}

.logo {
  flex: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 320px;
}

.data {
  flex: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
}

.data span,
p {
  margin: 0;
  font-size: 40px;
}

.data span {
  color: #9cafc7;
}

.data a {
  text-decoration: none;
  color: white;
}

.data a:hover {
  color: #5271ff;
}

@media (max-width: 1830px) {
  .section {
    height: 361px;
  }

  .container {
    width: 1824px;
  }

  .data span,
  p {
    font-size: 38px;
  }

  .data {
    font-size: 38px;
  }

  .logo img {
    width: 288px;
  }
}

@media (max-width: 1730px) {
  .section {
    height: 342px;
  }

  .container {
    width: 1732px;
  }

  .data span,
  p {
    font-size: 36px;
  }

  .data {
    font-size: 36px;
  }
  .logo img {
    width: 278px;
  }
}

@media (max-width: 1650px) {
  .section {
    height: 325px;
  }

  .container {
    width: 1646px;
  }

  .data span,
  p {
    font-size: 34px;
  }

  .data {
    font-size: 34px;
  }
  .logo img {
    width: 268px;
  }
}

@media (max-width: 1550px) {
  .section {
    height: 306px;
  }

  .container {
    width: 1547px;
  }

  .data span,
  p {
    font-size: 32px;
  }

  .data {
    font-size: 32px;
  }
  .logo img {
    width: 259px;
  }
}

@media (max-width: 1450px) {
  .section {
    height: 287px;
  }

  .container {
    width: 1454px;
  }

  .data span,
  p {
    font-size: 30px;
  }

  .data {
    font-size: 30px;
  }
  .logo img {
    width: 249px;
  }
}

@media (max-width: 1350px) {
  .section {
    height: 267px;
  }

  .container {
    width: 1352px;
  }

  .data span,
  p {
    font-size: 28px;
  }

  .data {
    font-size: 28px;
  }
  .logo img {
    width: 233px;
  }
}

@media (max-width: 1250px) {
  .section {
    height: 246px;
  }

  .container {
    width: 1244px;
  }

  .data span,
  p {
    font-size: 25px;
  }

  .data {
    font-size: 25px;
  }
  .logo img {
    width: 200px;
  }
}

@media (max-width: 1150px) {
  .section {
    height: 226px;
  }

  .container {
    width: 1144px;
  }

  .data span,
  p {
    font-size: 23px;
  }

  .data {
    font-size: 23px;
  }

  .logo img {
    width: 200px;
  }
}

@media (max-width: 740px) {
  .section {
    height: auto;
    text-align: center;
  }

  .container {
    flex-direction: column;
    width: 90%;
  }

  .logo {
    flex: auto;
  }

  .data {
    gap: 20px;
    flex-direction: column;
    flex: auto;
  }
}

@media (max-width: 320px) {
  .data span,
  p {
    font-size: 20px;
    flex-wrap: wrap;
  }

  .data {
    font-size: 20px;
  }

  .logo img {
    width: 180px;
  }
}
